{% from 'components/pill.html' import pill %}

{% macro report_nav(
  selected=None,
  current_service=None
) %}
  <div class="">
    {{ pill(
      [
        (
            'Overview',
            'overview',
            url_for('.reports', service_id=current_service.id),
            ''
        ),
        (
            'Weekly volumes',
            'weekly',
            url_for('.reports', service_id=current_service.id, report='weekly'),
            ''
        ),
        (
            'Monthly spend',
            'monthly',
            url_for('.reports', service_id=current_service.id, report='monthly'),
            ''
        ),
      ],
      selected
    ) }}
  </div>
  <div class="bottom-gutter">
    {{ pill(
      [
        (
            'Templates',
            'templates',
            url_for('.reports', service_id=current_service.id, report='templates'),
            ''
        ),
        (
            'Uploaded files',
            'uploaded-files',
            url_for('.reports', service_id=current_service.id, report='uploaded-files'),
            ''
        ),
        (
            'Teams',
            'services',
            url_for('.reports', service_id=current_service.id, report='services'),
            ''
        ),
        (
            'Team members',
            'team-members',
            url_for('.reports', service_id=current_service.id, report='team-members'),
            ''
        ),

      ],
      selected
    ) }}
  </div>
{% endmacro %}
