{% extends "views/dashboard/casework-base.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/textbox.html" import textbox %}
{% from "components/table.html" import list_table, field, text_field, index_field, index_field_heading %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}

  <form method="post" data-module="autofocus" autocomplete="off" novalidate>
    <div class="grid-row">
      <div class="column-half {% if form.placeholder_value.label.text == 'phone number' %}extra-tracking{% endif %}">
        {{ textbox(
          form.placeholder_value,
          hint='Optional' if optional_placeholder else None,
          width='1-1',
        ) }}
        {{ page_footer('Continue', back_link=back_link) }}
      </div>
      <div class="column-half">
        {{ template|string }}
      </div>
    </div>
  </form>

{% endblock %}
