{% from "components/checkbox.html" import checkbox %}
{% from "components/radios.html" import radio, radios %}

<div data-module="user-type" class="bottom-gutter-1-2">
  {% for option in form.user_type %}
    {{ radio(option) }}
    {% if loop.index == 2 %}
    <div class="js-hidden panel panel-border-wide conditional-panel" id="panel-user_type-1">
      <fieldset class="form-group">
        {{ checkbox(form.send_messages) }}
        {{ checkbox(form.manage_templates) }}
        {{ checkbox(form.manage_service) }}
        {{ checkbox(form.manage_api_keys) }}
      </fieldset>
      <div>
        <p class="form-label">
          All admins can see:
        </p>
        <ul class="list list-bullet">
          <li>message templates</li>
          <li>sent messages</li>
          <li>who else is a team member</li>
        </ul>
      </div>
    </div>
    {%endif%}
  {% endfor %}
</div>

{% if service_has_email_auth %}
  {% if user_has_no_mobile_number %}
    {{ radios(
      form.login_authentication,
      disable=['sms_auth'],
      option_hints={'sms_auth': 'Not available because this team member hasn’t added a phone&nbsp;number to their profile'|safe}
    ) }}
  {% else %}
    {{ radios(form.login_authentication) }}
  {% endif %}
{% endif %}
