{% from "components/checkbox.html" import checkbox, checkbox_group %}
{% from "components/radios.html" import radio, radios, radios_wrapper, conditional_radio_panel %}


<fieldset class="form-group permissions">
  <legend class="form-label">
    Permissions
  </legend>
  {% for field in form.permissions_fields %}
    {{ checkbox(field) }}
  {% endfor %}
</fieldset>

<p class="bottom-gutter">
  All team members can see sent messages.
</p>

{% if current_service.folders %}
<fieldset class="group-select form-group permissions" data-module="group-select" tabindex="-1">
  <legend class="form-label">
    Available templates
  </legend>
  <div class="group-select-other">
    {{ checkbox({
      'id':'t-all',
      'name': 'folders',
      'label': {'text': 'All templates'},
      'data': True
    }) }}
    <div class="group-select-subfolder">
      {{ checkbox({
        'id':'t-loose',
        'name': 'folders',
        'label': {'text': 'Templates not in a folder'}
      }) }}
      {% for folder in current_service.folders %}
        {{ checkbox({
          'id':'t-{}'.format(loop.index),
          'name': 'folders',
          'label': {'text': folder.name}
        }) }}

        {#
        <div class="group-select-subfolder">
          {{ checkbox({
            'id':'tt-loose',
            'name': 'folders',
            'label': {'text': 'Unsorted templates'}
          }) }}
          {% for folder in current_service.folders %}
            {{ checkbox({
              'id':'tt-{}'.format(loop.index),
              'name': 'folders',
              'label': {'text': folder.name}
            }) }}
          {% endfor %}
        </div>
        #}

      {% endfor %}
    </div>
  </div>
  <div class="group-select-change">
    <a href="#">See other folders</a>
  </div>
  <div class="group-select-hide">
    <a href="#" class="button">Done</a>
  </div>
</fieldset>
{% endif %}

{% if service_has_email_auth %}
  <div class="permissions">
    {% if user_has_no_mobile_number %}
      {{ radios(
        form.login_authentication,
        disable=['sms_auth'],
        option_hints={'sms_auth': 'Not available because this team member hasn’t added a phone&nbsp;number to their profile'|safe}
      ) }}
    {% else %}
      {{ radios(form.login_authentication) }}
    {% endif %}
  </div>
{% endif %}
