.dashboard {

  table {
    th {
      @include core-19;
      border-bottom: 0;
    }

    td {
      @include core-19;
      border: 0;
    }
  }

  > .heading-medium:first-of-type {
    margin-top: 10px;
  }

}

.keyline-block {
  border-top: 1px solid $border-colour;
  padding-top: $gutter-half;
}

.file-list {

  &-filename {
    @include bold-19;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: -30px;
    margin-top: -10px;
  }

  &-hint {
    @include core-16;
    display: block;
    color: $secondary-text-colour;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 580px;
  }

}

.failure-highlight {
  @include bold-19;
  color: $error-colour;
}

.template-usage-table {

  border-top: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
  margin-top: 10px;
  margin-bottom: $gutter * 1.3333;

  .table {
    margin-bottom: 5px;
  }

}

.align-with-message-body {
  display: block;
  margin-top: $gutter * 5 / 6;
}
