{% extends "admin_template.html" %}

{% block per_page_title %}
  {% block service_page_title %}{% endblock %} – {{ current_service.name }}
{% endblock %}

{% macro selected(key) -%}
  {% if selected_nav_item == key %}class="selected"{% endif %}
{%- endmacro %}

{% block fullwidth_content %}
  <div id="content">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ current_service.name }}
      </div>
      <a href="{{ url_for('main.choose_account') }}" class="navigation-service-switch">Switch service</a>
    </div>
    <div class="grid-row">
      {% if help %}
        <div class="column-one-third">
      {% else %}
        <div class="column-one-quarter">
      {% endif %}
        <nav class="navigation">
          <ul>
            <li {{ selected('one-off') }}><a href="{{ url_for('.choose_template', service_id=current_service.id) }}">Send one message</a></li>
            <li {{ selected('upload') }}><a href="{{ url_for('.choose_template_for_batch', service_id=current_service.id) }}">Send many messages</a></li>
            <li {{ selected('your-messages') }}><a href="{{ url_for('.service_dashboard', service_id=current_service.id) }}">Sent by you</a></li>
            <li {{ selected('all-messages') }}><a href="{{ url_for('.all_messages', service_id=current_service.id) }}">Sent by your team</a></li>
            <li {{ selected('jobs') }}><a href="{{ url_for('.view_jobs', service_id=current_service.id) }}">Uploaded files</a></li>
          </ul>
        </nav>
      </div>
      {% if help %}
        <main role="main" class="column-two-thirds column-main">
      {% else %}
        <main role="main" class="column-three-quarters column-main">
      {% endif %}
        {% include 'flash_messages.html' %}
        {% block maincolumn_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
