{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Add new template
{% endblock %}

{% block maincolumn_content %}

    <h1 class="heading-large">What do you want to add?</h1>

    {% call form_wrapper() %}
      {{ radios(
        form.template_type,
        hide_legend=true
      ) }}
      {{ page_footer(
        'Continue'
      ) }}
    {% endcall %}

{% endblock %}
