{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/folder-path.html" import folder_path %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Add new template or folder
{% endblock %}

{% block maincolumn_content %}

    {{ folder_path(
      folders=current_service.get_template_path(
        {'folder': None, 'name': name}
      ),
      service_id=current_service.id,
      template_type='all',
      fallback_page_title=None,
      show_fallback_page_title=False,
    ) }}

    <div class="letter">
      <div class="letter-blank">

        {{ file_upload(
          form.file,
          button_text='Choose a file'
        ) }}

        <ul class="list list-bullet">
        <li>Save your letter as a PDF, no bigger than 2MB</li>
        <li>the letter is no more than 10 pages long</li>

        </ul>
        <p>Download the <a href="{{ asset_url('images/precompiled-spec.pdf') }}">letter specification document</a> and check that:</p>

      </div>
    </div>

{% endblock %}
