{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/file-upload.html" import file_upload %}
{% from "components/folder-path.html" import folder_path %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Add new template or folder
{% endblock %}

{% block maincolumn_content %}

    {{ folder_path(
      folders=current_service.get_template_path(
        {'folder': None, 'name': name}
      ),
      service_id=current_service.id,
      template_type='all',
      fallback_page_title=None,
      show_fallback_page_title=False,
    ) }}

    <div class="letter">
      <div class="letter-blank">

        <div class="bottom-gutter">
          {{ file_upload(
            form.file,
            button_text='Choose a file'
          ) }}
        </div>

        <p>
          Your file must be:
        </p>

        <ul class="list list-bullet">
          <li>a PDF</li>
          <li>no more than 10 pages long</li>
          <li>less than 2MB</li>
        </ul>

        <p>
          Download the <a href="{{ asset_url('images/precompiled-spec.pdf') }}" target="_blank">letter specification</a> for more information.
        </p>

      </div>
    </div>

{% endblock %}
