{% from "components/pill.html" import pill %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/radios.html" import radio %}
{% from "components/textbox.html" import textbox %}
{% from "components/live-search.html" import live_search %}
{% from "components/live-search.html" import live_search %}

{% extends "withnav_template.html" %}

{% set page_title = 'Templates' %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block maincolumn_content %}

  {% if current_service.folders %}
    <div class="grid-row bottom-gutter-2-3">
      <div class="column-five-sixths">
        <h1 class="heading-large folder-title">{% if group_name %}<a class="folder-back" href="{{ url_for('.choose_template', service_id=current_service.id) }}">Templates</a> <span class="sep"></span> {{ group_name }}{% else %}<span class="folder-root">{{ page_title }}</span>{% endif %}</h1>
      </div>
      {% if current_user.has_permissions('manage_templates') and group_name %}
        <div class="column-one-sixth">
          <a href="{{ url_for('.manage_folder', service_id=current_service.id, group_name=group_name) }}" class="folder-manage">Manage</a>
        </div>
      {% endif %}
    </div>
  {% else %}
    <h1 class="heading-large">Templates</h1>
  {% endif %}


  {% if not templates %}

    {% if current_user.has_permissions('manage_templates') %}
      <p class="hint keyline-block" style="padding-top: 20px">
        {% if group_name %}
          This folder is empty
        {% else %}
          You need a template before you can send
          {% if 'letter' in current_service.permissions %}
            emails, text messages or letters
          {%- else -%}
            emails or text messages
          {%- endif %}
        {% endif %}
       </p>
       <div class="keyline-block bottom-gutter">
         <div style="padding-top: 5px;">
          <a href="{{ url_for('.add_template_by_type', service_id=current_service.id) }}" class="button-secondary">Add new</a>
        </div>
      </div>
    {% else %}
      <p>
        You need to ask your service manager to add templates before you can send
        {% if 'letter' in current_service.permissions %}
          emails, text messages or letters
        {%- else -%}
          emails or text messages
        {%- endif %}.
      </p>
    {% endif %}

  {% else %}

    {% if show_template_nav %}
      <div class="bottom-gutter-2-3">
        {{ pill(template_nav_items, current_value=template_type, show_count=False) }}
      </div>
    {% endif %}

    {% if show_search_box %}
      {{ live_search(target_selector='#template-list-flat .column-whole', show=True, form=search_form, variant='-folders') }}
    {% endif %}
    <form method="post" data-module="folders">
      <nav class="grid-row" id="template-list">
        {% for template in templates %}
          <div class="column-whole">
            {{ checkbox({
              'id':'t-{}'.format(template.id),
              'name': 'template_or_folder',
              'label': ''
            }, value=template.id)}}
            {% if template.is_folder %}
              <div class="folder">
                <h2 class="message-name">
                  <a href="{{ url_for('.choose_template', service_id=current_service.id, template_type=template_type, group_name=template.name) }}">{{ template.name }}</a>
                </h2>
                <p class="message-type">
                  {{ template.contains|length }} template{{ '' if template.contains|length == 1 else 's' }}
                </p>
              </div>
            {% else %}
              <div class="template">
                <h2 class="message-name">
                  <a href="{{ url_for('.view_template', service_id=current_service.id, template_id=template.id) }}">{{ template.name }}</a>
                </h2>
                <p class="message-type">
                  {{ message_count_label(1, template.template_type, suffix='')|capitalize }} template
                </p>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </nav>
      <nav class="grid-row" id="template-list-flat">
        {% for template in templates %}
          {% if template.is_folder %}
            {% if not template.contains %}
              <div class="column-whole">
                {{ checkbox({
                  'id':'t-{}'.format(template.id),
                  'name': 'template_or_folder',
                  'label': ''
                }, value=template.id)}}
                <div class="folder">
                  <h2 class="message-name">
                    <a href="{{ url_for('.choose_template', service_id=current_service.id, template_type=template_type, group_name=template.name) }}">
                      {{ template.name }}</a>
                    </a>
                  </h2>
                  <p class="message-type">
                    0 templates
                  </p>
                </div>
              </div>
            {% endif %}
            {% for sub in template.contains %}
              {% set sub_template = get_template_from_id(sub) %}
              <div class="column-whole">
                {{ checkbox({
                  'id':'t-{}'.format(sub_template.id),
                  'name': 'template_or_folder',
                  'label': ''
                }, value=sub_template.id)}}
                <div class="folder">
                  <h2 class="message-name">
                    <a href="{{ url_for('.choose_template', service_id=current_service.id, template_type=template_type, group_name=template.name) }}">
                      {{ template.name }}</a> <span class="sep"></span>
                      <a href="{{ url_for('.view_template', service_id=current_service.id, template_id=sub_template.id) }}">{{ sub_template.name }}</a>
                    </a>
                  </h2>
                  <p class="message-type">
                    {{ message_count_label(1, sub_template.template_type, suffix='')|capitalize }} template
                  </p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="column-whole">
              {{ checkbox({
                'id':'t-{}'.format(template.id),
                'name': 'template_or_folder',
                'label': ''
              }, value=template.id)}}
              <div class="template">
                <h2 class="message-name">
                  <a href="{{ url_for('.view_template', service_id=current_service.id, template_id=template.id) }}">{{ template.name }}</a>
                </h2>
                <p class="message-type">
                  {{ message_count_label(1, template.template_type, suffix='')|capitalize }} template
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </nav>
      <div class='template-manager'>
        <div class="template-manager-container">
          <div class='template-manager-bordered'>
            <div class="template-manager-actions">
              <div class="template-manager-actions-specific">
                <div class='button-secondary' data-target-selector=".template-manager-new-group">Add to a new folder</div>
                {% if folders %}
                <div class='button-secondary' data-target-selector=".template-manager-move">Move</div>
                {% endif %}
              </div>
              <div class="template-manager-actions-general">
                <a href="{{ url_for('.add_template_by_type', service_id=current_service.id) }}" class='button-secondary' data-target-selector=".template-manager-move">Add new</a>
              </div>
              <div class="template-manager-selected-count">
              </div>
            </div>
            <div class='template-manager-move'>
              <fieldset class="bottom-gutter-1-2">
                <legend class="form-label">
                  Choose a folder
                </legend>
                {{ radio({
                  'id': 'all',
                  'name': 'move_to',
                  'data': 'all',
                  'label': {'text': 'All templates'}
                }) }}
                <div class="conditional-radios-panel">
                  {% for folder in current_service.folders %}
                    {% if folder.name != group_name %}
                      {{ radio({
                        'id': 'foo-{}'.format(loop.index),
                        'name': 'move_to',
                        'data': folder.name,
                        'label': {'text': folder.name}
                      }) }}
                    {% endif %}
                  {% endfor %}
                </div>
              </fieldset>
              <div class="bottom-gutter-1-3">
                <button class="button" name="operation" value="move">Move to folder</button>
                <span class="template-manager-hide-action">Cancel</span>
              </div>
            </div>
            <div class='template-manager-new-group'>
              <div class="form-group">
                <label for="new_group" class="form-label">
                  Folder name
                </label>
                <input type="text" class="form-control form-control-1-1" name="new_group" />
              </div>
              <div class="bottom-gutter-1-3">
                <button class="button" name="operation" value="group">Add to folder</button>
                <span class="template-manager-hide-action">Cancel</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>

  {% endif %}

{% endblock %}
