{% from "components/pill.html" import pill %}
{% from "components/message-count-label.html" import message_count_label %}
{% from "components/checkbox.html" import checkbox %}
{% from "components/radios.html" import radio %}
{% from "components/textbox.html" import textbox %}
{% from "components/live-search.html" import live_search %}
{% from "components/page-footer.html" import page_footer %}

{% extends "withnav_template.html" %}

{% block service_page_title %}
  Vsibility
{% endblock %}

{% block maincolumn_content %}


    <div class="grid-row bottom-gutter-2-3">
      <div class="column-five-sixths">
        <h1 class="heading-large folder-title {% if group_name %}folder-title{% endif %}"><a class="folder-back" href="{{ url_for('.choose_template', service_id=current_service.id) }}">{{ group_name or 'All templates' }}</a> <span class="sep">/</span> <a href="{{ url_for(
                'main.view_template',
                service_id=current_service.id,
                template_id=template.id
            ) }}">{{ template.name }}</a></h1>
      </div>
    </div>

    <form method="post">

      <fieldset class="group-select form-group" data-module="" tabindex="-1">
        <legend class="form-label">
          Visible in
        </legend>
        <div class="group-select-other">
          {{ checkbox({
            'id':'t-all',
            'name': 'folders',
            'label': {'text': 'Templates'},
            'data': not group_name
          }, disabled=not group_name) }}
          <div class="group-select-subfolder">
            {% for folder in current_service.folders %}
              {% if folder.name == group_name %}
                {{ checkbox({
                  'id':'t-{}'.format(loop.index),
                  'name': 'folders',
                  'label': {'text': folder.name},
                  'data': True
                }, disabled=True) }}
              {% else %}
                {{ checkbox({
                  'id':'t-{}'.format(loop.index),
                  'name': 'folders',
                  'label': {'text': folder.name}
                }) }}
              {% endif %}

              {#
              <div class="group-select-subfolder">
                {{ checkbox({
                  'id':'tt-loose',
                  'name': 'folders',
                  'label': {'text': 'Unsorted templates'}
                }) }}
                {% for folder in current_service.folders %}
                  {{ checkbox({
                    'id':'tt-{}'.format(loop.index),
                    'name': 'folders',
                    'label': {'text': folder.name}
                  }) }}
                {% endfor %}
              </div>
              #}

            {% endfor %}
          </div>
        </div>
      </fieldset>
      <div class="group-select-hide">
        {{ page_footer(
          'Save',
        ) }}
      </div>

    </form>

{% endblock %}
