{% extends "withnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Uploads
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large">
    {{ filename }}
  </h1>

  <div class='bottom-gutter-2'>
    <div class="letter">
    </div>
  </div>

  <div class="js-stick-at-bottom-when-scrolling">
    {% call form_wrapper(action=url_for('main.files', service_id=current_service.id, file_type='saved'), method='get') %}
      <input type='hidden' name='original_file_name' value="{{ filename }}">
      {{ page_footer('Save to documents') }}
    {% endcall %}
  </div>

{% endblock %}
