.folder {
  padding-top: 10px;

  .message-name {
    position: relative;
    background: file-url('folder.svg');
    background-repeat: no-repeat;
    background-size: auto 20px;
    background-position: 0px 2px;
    z-index: 100;

    a {

      &:first-child {
        padding-left: 40px;
      }

      display: inline-block;

    }

    .sep {
      color: $secondary-text-colour;
      padding: 0 5px;
      font-weight: normal;
    }
  }

}

.folder + .folder {
  border-top: none;
  background: red;
}

.folder,
.template {
  padding: 0 0 0 60px;
  margin-bottom: 15px;

  .message-name {
    margin-top: 0;
  }
  .message-type {
    margin-bottom: 0;
  }
}

.template-manager {

  position: fixed;
  left: -$gutter-half;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease-out;
  opacity: 1;

  &-container {
    @extend %site-width-container;
  }

  &-bordered {
    border-top: 1px solid $border-colour;
    box-shadow: 0 -2px 0 0 rgba($border-colour, 0.2);
    width: 100%;
    padding: 20px $gutter-half 20px $gutter-half;
    overflow: hidden;
    background: $white;
  }

  &-move,
  &-new-group {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &-clear {
    position: absolute;
    top: 5px;
    right: 0;
    color: $link-colour;
    text-decoration: underline;
    cursor: pointer;
  }

  &-actions {
    position: relative;
    transition: top 0.2s ease-out, margin 0.1s ease-in;
  }

  &-hide-action {

    position: relative;
    top: 10px;
    left: 20px;
    color: $link-colour;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $link-hover-colour;
    }

  }

  .button-secondary {
    margin-right: $gutter-half;
  }

  .multiple-choice {
    z-index: 10;
    min-width: 100%;
    background: $white;
    .block-label {
      &:before {
        box-shadow: 0 5px 0 0 $white;
      }
    }
  }

}

.off-bottom {
  bottom: -80px;
  opacity: 0;
}

.conditional-radios {
  &-panel {
    border-left: $border-thickness solid $border-colour;
    margin: 0 0 -20px ($gutter-half + ($border-thickness / 2));
    padding: $top-spacing 0 0 ($gutter - ($border-thickness / 2));
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}


#template-list,
#template-list-flat {
  margin-top: 35px;
}

#template-list-flat {
  display: none;
}

.user-folder {
  background: file-url('folder-green.svg');
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: 0 6px;
  padding: 5px 0 0 25px;
}

.group-select {

  position: relative;

  &:focus {
    outline: none;
  }

  &-other {
    label {
      background: file-url('folder-outlined-small.svg');
      background-repeat: no-repeat;
      background-size: auto 20px;
      background-position: 50px 8px;
      position: relative;
      left: -38px;
      top: -3px;
      padding-left: 85px;
      padding-top: 10px;

      &[for='t-loose'],
      &[for='tt-loose'] {
        background: none;
        padding-left: 50px;
      }
    }
  }

  &-change {

    clear: both;
    //margin-top: -10px;
    position: relative;
    //top: -5px;
    //padding-left: 50px;
    padding-top: 5px;


    a {
      @include button($grey-3);
    }
  }

  &-hide {
    padding-top: 15px;
    clear: both;
    position: sticky;
    bottom: 0;
    background: $white;
    z-index: 1000;
    padding: 15px 0;
    border-top: 1px solid $border-colour;
    box-shadow: 0 -2px 0 0 rgba($border-colour, 0.2);

    a {
      @include button($grey-3);
    }
  }

  &-subfolder {

    padding: 0 0 0 50px;
    margin: 0 0 10px 0;

    &:after {
      content: " ";
      display: block;
    }


  }

  .multiple-choice:last-child {
     margin-bottom: 10px;
  }

}

.closed {


  .group-select-subfolder {
    padding-left: 0;
  }

  .multiple-choice {

  }
}

.multiple-choice.selection-inferred {
  label {
    &:after {
      opacity: 0.2;
    }
  }
}

.permissions {
  legend {
    @include bold-19;
  }
}

.folder-title {
  @include bold-24;

  .sep {
    color: $secondary-text-colour;
    padding: 0 5px 0 5px;
    font-weight: normal;
  }
}

.folder-back {
  background: file-url('folder.svg');
  background-repeat: no-repeat;
  background-size: auto 30px;
  text-indent: 60px;
  max-width: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  padding: 5px 0 0 0;
  position: relative;
  top: 8px;
}

.govuk-back-link {

  @include core-16;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;


  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $text-colour;
  }

  &:before {
    top: -1px;
    bottom: 1px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: 0;
    margin: auto;
  }

}
