.folder {
  //border-bottom: 1px solid $border-colour;
  //border-top: 1px solid $border-colour;
  //background: $highlight-colour;
  padding-top: 10px;

  .message-name {
    position: relative;
    background: file-url('folder.svg');
    background-repeat: no-repeat;
    background-size: 30px 20px;
    background-position: 0 3px;

    a {
      padding-left: 40px;

    }
  }

}

.folder + .folder {
  border-top: none;
  background: red;
}

.folder,
.template {
  padding: 0 0 0 60px;
  margin-bottom: 15px;

  .message-name {
    margin-top: 0;
  }
  .message-type {
    margin-bottom: 0;
  }
}

.template-manager {

  position: fixed;
  left: -$gutter-half;
  bottom: 0;
  width: 100%;
  background: $white;
  z-index: 1000;
  transition: all 0.2s ease-out;
  opacity: 1;

  &-container {
    @extend %site-width-container;
  }

  &-bordered {
    border-top: 1px solid $border-colour;
    box-shadow: 0 -2px 0 0 rgba($border-colour, 0.2);
    width: 100%;
    padding: 20px $gutter-half 20px $gutter-half;
    overflow: hidden;
  }

  &-move,
  &-new-group {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  &-actions {
    position: relative;
    transition: top 0.3s ease-out, margin 0.1s ease-in;
  }

  &-hide-action {

    position: relative;
    top: 10px;
    left: 20px;
    color: $link-colour;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $link-hover-colour;
    }

  }

  .button-secondary {
    margin-right: $gutter-half;
  }

  .multiple-choice {
    z-index: 10;
    min-width: 100%;
    background: $white;
    .block-label {
      &:before {
        box-shadow: 0 5px 0 0 $white;
      }
    }
  }

}

.off-bottom {
  bottom: -80px;
  opacity: 0;
}

.conditional-radios {
  &-panel {
    border-left: $border-thickness solid $border-colour;
    margin: 0 0 -20px ($gutter-half + ($border-thickness / 2));
    padding: $top-spacing 0 0 ($gutter - ($border-thickness / 2));
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}
