.folder {
  border-bottom: 1px solid $border-colour;
  border-top: 1px solid $border-colour;
}

.folder + .folder {
  border-top: none;
  background: red;
}

#template-list {
  .multiple-choice [type=checkbox]+label::before {
    top: 15px;
  }
  .multiple-choice [type=checkbox]+label::after {
    top: 25px;
  }
}

.template-manager {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  height: $gutter;
  border-top: 1px solid $border-colour;
  box-shadow: 0 -2px 0 0 rgba($border-colour, 0.2);
  padding: $gutter-half;
  z-index: 1000;
}
