body.with-fullscreen {

  #global-header,
  #global-header-bar {
    display: none;
  }

  #footer {
    height: 0;
    overflow: hidden;
  }

  .shim {
    margin-bottom: 5px;
  }

}


.fullscreen {

  &-header {
    padding: $gutter-half $gutter-half 0 $gutter-half;
    margin-top: -$gutter-half;
  }

  &-container {
    width: 100%;
    background: $white;
    z-index: 10;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    position: relative;

    td,
    th {
      //min-width: 20em;
      padding-left: $gutter-half;
    }

    .banner-dangerous {
      margin: $gutter-half $gutter-half 0 $gutter-half;
      position: sticky;
      left: 0;
    }
  }

  &-shim {
    width: 100%;
    position: absolute;
    z-index: 9;
    background: #ffffff;
  }

  &-titlebar {
    z-index: 20;
    padding-right: 0;

    .page-footer-back-link {
      position: absolute;
      right: $gutter-half;
      top: 20px;
    }

    .file-upload-button {
      margin: 0 0 0 $gutter-half;
    }
  }

}
