.letter {

  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 $gutter 0;
  position: relative;

  &:after {
    content: "";
    display: block;
    z-index: 10;
    position: absolute;
    top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
    background: $highlight-colour;
    transform: skew(-1deg, 0deg) scale(1, 0.99);
    transform-origin: left bottom;
    box-shadow: inset 0 0 0 2px $panel-colour;

  }

  a {
    display: block;
    overflow: hidden;
    height: 283px;
    position: relative;
    z-index: 20;
    transition: all 0.1s ease-out;
  }

  img {
    display: block;
    max-width: 100%;
    background: $white;
    box-shadow: inset 0 0 0 2px $panel-colour;
  }

}
