.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  box-sizing: border-box;
  padding: 0 $gutter;
  overflow: scroll;

  .table-field-center-aligned {
    min-width: 12em;
  }

}

.modal-is-open {
  overflow: hidden;
  height: 0;
  width: 0;
}
