.section {

  &-add {

    background: $grey-4;
    border: 2px solid $grey-3;
    box-shadow: inset 0 0 0 2px $white;
    padding: $gutter;
    margin: 0 0 $gutter 0;

    &-button {
      text-align: center;
    }

    .button-secondary {
      display: inline-block;
      margin: 0 auto;
      cursor: pointer; // force css to recompile
    }

  }

}
