.table {
  margin-bottom: $gutter;
  width: 100%;
}

.table-heading {
  text-align: left;
  margin: 40px 0 $gutter-half 0;
}

.dashboard-table {

  .heading-medium {
    margin-bottom: 5px;
  }

  .table {
    table-layout: fixed;
  }

  .table-field-headings {
    th {
      font-size: 1px;
    }
  }

  .table-field-headings-visible {
    th {
      padding-bottom: 5px;
    }
  }

  .table-field-heading-first {
    width: 52.5%;
  }

  .table-row {
    th {
      display: table-cell;
      width: 52.5%;
      font-weight: normal;

      .hint,
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

%table-field,
.table-field {

  vertical-align: top;

  &:last-child {
    padding-right: 0;
  }

  &-error {

    border-left: 5px solid $error-colour;
    padding-left: 7px;
    display: block;

    &-label {
      display: block;
      color: $error-colour;
      font-weight: bold;
    }

  }

  &-status {

    &-default {
      color: $secondary-text-colour;
    }

    &-error {

      color: $error-colour;
      font-weight: bold;

      a {

        &:link,
        &:visited {
          color: $error-colour;
        }

      }

      .status-hint {
        display: block;
        font-weight: normal;
        color: $red;
        margin-top: 5px;
      }

    }

    &-yes,
    &-no {
      display: block;
      text-indent: -999em;
      background-size: 19px 19px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &-yes {
      background-image: file-url('tick.png');
    }

  }

  &-noborder {
    border: 0px;
  }

  &-index {
    width: 15px;
  }

  p {
    margin: 0 0 5px 0;
  }

}

.table-field-headings,
.table-field-headings-visible {

  th {
    @include bold-19;
  }

  .dashboard-table &-first {
    width: 52.5%;
  }

}

.table-field-heading {

  &:last-child {
    padding-right: 0;
  }

  &-right-aligned {
    display: block;
    text-align: right;
  }

}

.table-field-right-aligned {
  @extend %table-field;
  text-align: right;
}


.table-row-group {
  border-top: 1px solid $border-colour;
  border-bottom: 1px solid $border-colour;
}

.table-empty-message {
  @include core-16;
  color: $secondary-text-colour;
  border-bottom: 1px solid $border-colour;
  padding: 0.75em 0 0.5625em 0;
}

.table-show-more-link {
  @include core-16;
  color: $secondary-text-colour;
  margin-top: -30px;
  margin-bottom: $gutter * 1.3333;
  border-bottom: 1px solid $border-colour;
  padding: 0.75em 0 0.5625em 0;
  text-align: center;
}

a.table-show-more-link {
  color: $link-colour;
}


.scrollable-table {

  max-width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid $border-colour;
  border-bottom: none;
  margin-top: 45px;
  transform: all 1s ease-in-out;

  &.expanded {
    position: fixed;
    margin-top: 0;
    background: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-top: 45px;

    caption {
      position: fixed;
      top: 0;
      width: 100%;
    }

    &:before {
      position: fixed;
      content: "Close"
    }

  }

  &:before {
    @include button($grey-3);
    content: "Expand";
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 30;
    pointer-events: none;
  }

  .table {
    margin-bottom: 0;
  }

  caption {
    background: $grey-1;
    color: $white;
    padding: 10px;
    margin: 0;
    cursor: pointer;
  }

  .table-field-center-aligned {
    min-width: 15.5em;
  }

  .table-field-index,
  .table-field-heading-first {
    padding-left: 10px;
  }

}

html.noscroll {
  overflow: hidden;
  body {
    overflow: hidden;
  }
}
