{% extends "withnav_template.html" %}
{% from "components/radios.html" import radios %}
{% from "components/page-footer.html" import page_footer %}

{% block service_page_title %}
  Admin view
{% endblock %}

{% block maincolumn_content %}

  <form class="grid-row" method="post">
    <div class="column-five-sixths">
      <h1 class="heading-large">Views</h1>
      <p>
        Which views do you want available to your team?
      </p>
      {{ radios(form.enabled, hide_legend=True, option_hints={
        'everyone': ''
      }) }}
      <p>
        If you give a team member basic view they can only:
      </p>
      <ul class="list list-bullet">
        <li>send messages one at a time</li>
        <li>see sent messages (from all team members)</li>
      </ul>
      <p class="bottom-gutter">
        See a <a href="{{ url_for(".go_basic", service_id=current_service.id) }}">preview of basic view</a>.
      </p>
      {{ page_footer(
        'Save',
        back_link=url_for('.service_settings', service_id=current_service.id),
        back_link_text='Back to settings'
      ) }}
    </div>
  </form>

{% endblock %}
