{% extends "admin_template.html" %}

{% block per_page_title %}
  {% block service_page_title %}{% endblock %} – {{ current_service.name }}
{% endblock %}

{% block fullwidth_content %}
  <div id="content">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ current_service.name }}
        {% if session.get('basic') %}
          <span style="background: #ffbf47; padding: 4px 10px 3px 10px; font-size: 16px; position: relative; top: -1px; left: 8px;">Preview of basic view</span>
        {% endif %}
      </div>
      {% if session.get('basic') %}
      <a style="right: 115px" href="{{ url_for('main.service_set_admin_view', service_id=current_service.id) }}" class="navigation-service-switch">Back to settings</a>
      {% endif %}
      <a href="{{ url_for('main.choose_account') }}" class="navigation-service-switch">Switch service</a>
    </div>
    <div class="grid-row">
      {% if help %}
        <div class="column-one-third">
      {% else %}
        <div class="column-one-quarter">
      {% endif %}
        {% include "main_nav.html" %}
      </div>
      {% if help %}
        <main role="main" class="column-two-thirds column-main">
      {% else %}
        <main role="main" class="column-three-quarters column-main">
      {% endif %}
        {% include 'flash_messages.html' %}
        {% block maincolumn_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
